<!doctype html>
<title>Score</title>
<h1>Time: {{ time }} seconds</h1>

{% if time <= 30 %}
    <p>
        Wow! You are an outstanding student bot! So outstanding, in fact, that
        we may <a href='https://uwaterloo.ca/secretariat/policies-procedures-guidelines/policy-71'>
        investigate</a> your performance.
    </p>
    <img src='/static/sorterbot.gif' alt='sorterbot' style="width:500px">
{% elif time <= 60 %}
    <p>Congratulations! You passed.</p>
    <img src='/static/score1.png' alt='score1' style="width:500px">
{% elif time <= 90 %}
    <p>
        You had a decent performance. Keep up the work, and we may keep you for
        the next ... iteration.
    </p>
    <img src='/static/score2.png' alt='score2' style="width:500px">
{% else %}
    <img src='/static/score3.png' alt='score3' style="width:500px">
{% endif %}
